<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" hostingModel="inprocess" arguments="%LAUNCHER_ARGS%">
      <environmentVariables>
        <!--<environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44361" />-->
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
  <!-- 
    Тази секция е необходима, защото имаме нужда от секция Certificate: иначе при publish информацията как се стартира приложението (handler, processPath..)се записва на грешно място - 
    в <location path="Certificate"> -> <system.webServer> а оттам е неизползваема.
    Има някакъв бъг с Publish, който записва информацията за стартиране в първата срещната секция location, когато има такава. Ако няма, то информацията се записва вярно - 
    директно в configuration -> system.webServer
  -->
  <location path=""></location>
  <location path="Certificate">
    <!--За да сработи секцията system.webServer/security/access, web сървърът трябва да се настрои.
      За IIS Express в <solution folder>\.vs\config\applicationhost.config се добавя следното:
      <location path="Kontrax.Regux.Portal" overrideMode="Allow">
        <system.webServer>
          <security>
            <access />
          </security>
        </system.webServer>
      </location>
      За IIS същото това се прави през UI по следния начин:
      - отваря се IIS Manager и се избира съответният сайт;
      - в най-долния раздел Management се отваря Configuration Editor;
      - горе вляво се избира Section: system.webServer/security/access;
      - в панела вдясно се натиска Unlock Section.

      В load balanced среда ARR поема логиката по изискване на клиентски сертификат и прихващане не грешките покрай това.
      В този случай тази секция трябва да се премести в web.config файла на ARR сайта, като responseMode="ExecuteURL"
      трябва да се замени с responseMode="Redirect", защото ARR сайтът няма собствен код (контролери и т.н.).-->
    <system.webServer>
      <security>
        <access sslFlags="Ssl, SslNegotiateCert, SslRequireCert" />
      </security>
    </system.webServer>
  </location>
</configuration>